<body class="bg-gradient-to-r from-white to-blue-400 p-6">

  <!-- Header Section -->
  <header class="bg-blue-500 shadow-md rounded-lg">
    <div class="container mx-auto px-6 py-12 flex items-center justify-between">
      <h1 class="text-2xl font-bold text-white">Admin Dashboard</h1>
      <nav>
        <div class="flex">
        <a href="/admin/addElection" class="text-white hover:text-gray-400 px-5">Add Election</a>
        <form action="/admin/manageVoters" method="get" autocomplete="off">
          <button type="submit" class="text-white hover:text-gray-400">Manage voters</button>
        </form>
        <a href="/admin/reports" class="text-white hover:text-gray-400 px-5">Reports</a>
        <form action="/admin/logout" method="post" autocomplete="off">
          <button type="submit" class="text-white  hover:text-gray-400">Logout</button>
        </form>
        </div>
      </nav>
    </div>
  </header>

  <!-- Main Content Section -->
  <main class="container mx-auto px-6 py-8">
    <h2 class="text-3xl font-semibold text-gray-700 mb-6">Welcome, Admin!</h2>
    
    <!-- Features Section -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- Add Election Card -->
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h3 class="text-lg font-bold mb-4">Add New Election</h3>
        <p class="text-gray-600 mb-4">Create a new election and add details for candidates and districts.</p>
        <a href="/admin/addElection" class="text-blue-500 hover:text-blue-700 font-bold">Go to Add Election</a>
      </div>

      <!-- Manage Users Card -->
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h3 class="text-lg font-bold mb-4">Register Users</h3>
        <p class="text-gray-600 mb-4">View, Register, or Remove voters </p>
        <a href="/admin/manageVoters" class="text-blue-500 hover:text-blue-700 font-bold">Go to Manage Users</a>
      </div>

      <!-- Reports Card -->
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h3 class="text-lg font-bold mb-4">View Reports</h3>
        <p class="text-gray-600 mb-4">Access election reports and voting analytics for ongoing and past elections.</p>
        <a href="/admin/getResults" class="text-blue-500 hover:text-blue-700 font-bold">Go to Reports</a>
      </div>
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h3 class="text-lg font-bold mb-4">Start Election</h3>
        <p class="text-gray-600 mb-4"></p>
        {{#if elections}}
        <form action="/admin/startElection" method="post">
        {{#each elections}}
          <label class="p-3  flex items-center space-x-2 cursor-pointer">
        <input value="{{this._id}}" type="radio" name="election" class="form-radio h-4 w-4 text-blue-600 border-gray-300 focus:ring-2 focus:ring-offset-1 focus:ring-blue-500" />
        <span class="text-gray-800">{{this.title}}</span>
        </label>
        {{/each}}
        <input type="submit" class="text-blue-500 hover:text-blue-700 font-bold" value="Deploy">
        </form>
        {{else}}<p class="text-gray-600 mb-4">No elections are added.</p>
        {{/if}}
      </div>


      
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <h3 class="text-lg font-bold mb-4">Start Election</h3>
        <p class="text-gray-600 mb-4"></p>
        {{#if activeElections}}
         <p class="text-gray-800">{{activeElections.title}}</span>
        </label>
        <form action="/admin/startElection" method="get"> 
        <input type="submit" class="text-blue-500 hover:text-blue-700 font-bold" value="Go to Election Page">
        </form>
        {{else}}<p class="text-gray-600 mb-4">No Active Elections.</p>
        {{/if}}
      </div>
    </div>
  </main>
    <!-- Footer -->
  <footer class="w-full bg-gray-800 text-white py-4 mt-8">
    <div class="container mx-auto px-4 text-center">
      <p>&copy; 2024 DeVote. All Rights Reserved.</p>
    </div>
  </footer>
</body>
